.section_one {
  margin: 0 9.37rem 0 9.37rem;
  display: flex;
  justify-content: space-between;
}

.left_container {
  width: 50%;
  margin-top: 6.25rem;
}

.black_text {
  font: normal normal bold 2.3rem/4.5rem Inter;
  color: #343434;
}

.blue_text {
  font: normal normal bold 4.5rem/6.5rem Inter;
  color: #2a6ab4;
}

.page_subheading {
  font: normal normal normal 1.9rem/3rem Inter;
  color: #5a5a5a;
  margin: 1.8rem 0 3.75rem 0;
}

.ratings {
  display: flex;
  gap: 5rem;
  margin-top: 6.25rem;
}

.rating_container {
  border-radius: 6px;
  /* padding: 0.7rem 0.8rem; */
}

.company_img_container {
  height: 3.65rem;
  width: 11.5rem;
  position: relative;
}

.element_rating {
  font-size: 2rem;
}

.outof_rating {
  font-size: 1rem;
  margin-top: 0.4rem;
}

.ratings_img_container {
  height: 2.45rem;
  width: 9rem;
  position: relative;
  display: inline-block;
  margin-left: 0.6rem;
}

.right_container {
  width: 50%;
  padding-top: 6.25rem;
  position: relative;
  display: flex;
  justify-content: end;
}

.section1_image_container {
  height: 56rem;
  width: 100%;
  position: relative;
}

.side_img1 {
  height: 7rem;
  width: 13rem;
  position: absolute;
  bottom: 10rem;
  left: -7rem;
}

.side_img2 {
  height: 12.5rem;
  width: 20rem;
  position: absolute;
  top: 1rem;
  right: -7rem;
}

.section_two {
  background-color: #fff !important;
  padding: 3.75rem 0 4.2rem 0;
}

.section_two_heading {
  font: normal normal bold 2.5rem/3.1rem Inter;
  text-align: center;
  margin-bottom: 3.75rem;
}

.section_two > div > div {
  background-color: #f7f9ff;
}

.section_three {
  margin: 0 9.37rem;
  margin-top: 6.25rem;
}

.section_three_containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.25rem;
  gap: 6.25rem;
}

.section3_image_container {
  height: 48.75rem;
  width: 48.75rem;
  position: relative;
  border-radius: 30px;
}

.container_heading {
  font: normal normal bold 3rem/3.12rem Inter;
  margin-bottom: 2.5rem;
}

.container_normal_text {
  font: normal normal normal 1.8rem/2.75rem Inter;
  color: #5a5a5a;
}

.container_link {
  margin-top: 4.35rem;
}

.container_link > span {
  background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 2px
    no-repeat;
  transition: 0.5s;
  cursor: pointer;
}

.container_link > span:hover {
  --d: 100%;
}

.container_link > span {
  color: #2a6ab4;
  font: normal normal bold 2rem/2rem Inter;
}
.section_four {
  background-color: #2a6ab4;
  border-radius: 16px;
  margin: 0 9.37rem;
  display: flex;
  justify-content: space-between;
}

.section4_left_side {
  width: 45%;
  padding: 6rem 5rem;
}

.section4_image_container {
  height: 30.5rem;
  width: 52.25rem;
  position: relative;
}

.section_four_heading {
  font: normal normal bold 3.37rem/5rem Inter;
  color: #fff;
}

.section_four_content {
  font: normal normal normal 1.8rem/2.6rem Inter;
  color: #fff;
  margin: 0 0 3.75rem 0;
}

.section_five {
  margin: 6.25rem;
}

.section_five_heading {
  font: normal normal bold 3rem/3.12rem Inter;
  margin-bottom: 6.25rem;
  text-align: center;
}

.section5_left_container {
  width: 60%;
}

.section5_LC_heading {
  font: normal normal bold 4.35rem/5.62rem Inter;
}

.LC_heading {
  font: normal normal bold 3.12rem/3.12rem Inter;
  margin: 0;
}

.LC_number {
  font: normal normal bold 3.75rem/3.12rem Inter;
  color: #2a6ab4;
  margin: 1.5rem 0 1rem 0;
}

.LC_text {
  font-size: 3rem;
}

.section_six {
  margin: 0 9.37rem;
}

.section_seven {
  margin: 12.5rem 0;
}

.section_nine {
  margin: 6.25rem 9.37rem 0 9.37rem;
}

.section9_banner {
  background-color: #2a6ab4;
  padding: 3.75rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section9_banner_heading {
  font: normal normal bold 3.37rem/4.62rem Inter;
  color: #fff;
}

.demo_desc {
  font-size: 1rem;
  color: #fff;
  font: normal normal normal 1.62rem/2.37rem Inter;
  margin-bottom: 3rem;
}

.demo_img {
  height: 25rem;
  width: 25rem;
  position: relative;
}

.tag {
  width: fit-content;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  font: normal normal bold 1.35rem/3rem Inter;
  margin-bottom: 2rem;
}

.point_title {
  font: normal normal bold 1.87rem/2.75rem Inter;
  color: #5a5a5a;
}

.point_desc {
  font: normal normal normal 1.87rem/2.75rem Inter;
  display: inline;
  color: #5a5a5a;
}

.bullet_points {
  margin: 1.5rem 1.5rem 1.5rem 0;
  padding-left: 1rem;
}

.industries_section {
  margin: 6.25rem 9.37rem;
}

.industry_section_heading {
  position: relative;
  height: 3.93rem;
  width: 24rem;
  margin: auto;
}

.testimonial_heading,
.industry_heading {
  font: normal normal bold 2.5rem/3.1rem Inter;
  text-align: center;
}

/* strokes */
.business_stroke_img {
  height: 2rem;
  width: 15rem;
  position: relative;
  top: -1.5rem;
  left: 0.5rem;
}

.industries_stroke_img {
  height: 2rem;
  width: 15rem;
  position: relative;
  margin-left: auto;
  top: -1rem;
}

.testimonials_stroke_img {
  height: 2rem;
  width: 15rem;
  position: relative;
  margin-left: auto;
  margin-bottom: 2.8rem;
  top: -1rem;
}

.highlights_sec_stroke {
  height: 2rem;
  width: 15rem;
  position: relative;
  left: 4rem;
  top: -1rem;
  margin-bottom: 2.8rem;
}

@media screen and (min-width: 1600px) {
  .section_one,
  .section_three,
  .industries_section,
  .section_nine {
    margin-left: 12rem;
    margin-right: 12rem;
  }
  .section_six {
    margin: 6.25rem 10rem 0 10rem;
  }
}
