.query_form_container {
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_heading {
  font: normal 700 normal 4.38rem/5rem inter;
  color: #3c69af;
  text-align: center;
}

.normal_form_heading {
  font: normal normal bold 2.5rem/5rem Inter;
  text-align: center;
}

.form_para {
  color: #5a5a5a;
  font-weight: 300;
  letter-spacing: 0.26;
  margin-top: 10px;
  text-align: center;
  font: normal normal normal 1.8rem/3rem Inter;
}

.query_form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 0 0;
}

.double_input {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
}

.single_input {
  width: 90%;
  margin: 2rem 0;
}

.business_type_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* column-gap: 9.5rem; */
  row-gap: 3rem;
  justify-content: space-between;
}

.b_container {
  display: flex;
  justify-content: space-between;
}

.buisness_btns {
  width: 15rem;
  background-color: white;
  border: 0.1rem solid #5a5a5a99;
  font-size: 1.65rem;
  font-weight: normal;
  color: #5a5a5a99;
  height: 5.1rem;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buisness_btns:hover {
  color: #3c69af;
  font-weight: bold;
  border: 0.1rem solid #3c69af;
  width: 15.4rem;
  transition: all 0.2s ease-in-out;
}

.selected_buisness {
  color: #3c69af;
  font-weight: bold;
  border: 0.1rem solid #3c69af;
}

.checkbox_container {
  margin-right: 20px;
  margin-bottom: 20px;
}

.checkbox_label {
  min-width: 150px;
  text-align: left;
  font: normal normal normal 1.6rem/1.8rem Inter;
  letter-spacing: 0px;
  color: #222222;
  margin-top: 5px;
}

.checkbox_input {
  height: 2.1rem !important;
  width: 2.1rem !important;
  margin-right: 10px;
}

.checkbox_input:focus {
  box-shadow: none;
  border: 1px solid #999999;
}

.checkbox_input:checked {
  background-color: #222222;
  border: 1px solid #222222;
}

.medium_container {
  display: flex;
  gap: 3rem;
}

.medium_container > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.medium_container > div > input {
  height: 2.1rem;
  width: 2.1rem;
}

.medium_container > div > label {
  margin-bottom: 0;
  font: normal normal normal 1.6rem/1.8rem Inter;
  letter-spacing: 0px;
  color: #222222;
}

.mobile_query_form {
  width: 90%;
}

.mobile_field_input {
  width: 100%;
  margin: 2rem 0;
}
.mobile_business_type_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1rem;
}

.mobile_form_heading {
  width: 90%;
  text-align: left;
  color: rgb(60, 105, 175);
  font: normal normal bold 4.38rem/4.6rem Inter;
}

.mobile_form_para {
  width: 90%;
  text-align: left;
  font-size: 1.62rem;
  color: #5a5a5a;
  font-weight: 300;
  letter-spacing: 0.26;
  margin-top: 10px;
  font: normal normal normal 1.62rem/2rem Inter;
}

.icon_container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.modal_footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.qblogo {
  height: 5rem;
  width: 15rem;
  position: relative;
}

.modal_footer_container .text {
  font: normal normal 600 2.5rem/2rem Inter;
}
