.headerIndustry {
   background-color: #f9d878;
   border-radius: 1rem;
   /* width: 50%; */
   text-align: center;
   padding-left: 1rem;
   padding-right: 1rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}
